<div class="page-wrapper">

  <div class="page-header pb-5 pt-1 px-2 border-bottom border-black border-opacity-10">

    <div class="header-title d-flex justify-content-between align-items-center">

      <div class="title">
        <div class="fs-4 fw-semibold">Linhas telefônicas</div>
        <small class="fw-light">Acompanhe as linhas telefônicas cadastradas</small>
      </div>

      <div class="button-wrapper">
        <button type="button" class="btn btn-dark" (click)="router.navigate(['phones/form/create'])">Nova linha</button>
      </div>

    </div>

    <div class="error" *ngIf="error">{{error}}</div>
    <div class="success" *ngIf="success">{{success}}</div>

    <form [formGroup]="form" class="row mt-3">

      <div class="col-12 col-md-8 mb-2">
        <label for="search" class="form-label mb-1">Pesquisar</label>
        <input type="text" class="form-control" id="search" name="search" formControlName="search" (input)="onSearchChange()"  placeholder="Buscar por telefone">
      </div>

      <div class="col-12 col-md-4 mb-2">
        <label for="paginate" class="form-label mb-1">Itens por página</label>
        <select class="form-select" id="paginate" name="paginate" formControlName="paginate">
          <option selected>Selectione a quantidade de itens</option>
          <option
            *ngFor="let option of paginationOptions"
            [value]="option"
          >
            {{option}}
          </option>
        </select>
      </div>

    </form>

  </div>

  <div class="page-body pt-4 px-4 pb-2">

    <small class="fw-light">Resultados encontrados: {{filteredPhones.length}}</small>

    <div class="table-wrapper overflow-y-auto">
      <table class="table-index">

        <tr class="table-header">
            <th role="button" class="order" (click)="orderBy('id', $event)">Id</th>
            <th role="button" class="order" (click)="orderBy('phone', $event)">Telefone</th>
            <th role="button" class="order" (click)="orderBy('monthly_price', $event)">Valor mensal</th>
            <th role="button" class="order" (click)="orderBy('setup_price', $event)">Valor de configuração</th>
            <th role="button" class="order" (click)="orderBy('currency', $event)">Moeda</th>
            <th role="button" class="order" (click)="orderBy('created_at', $event)">Criado Em</th>
            <th role="button" class="order" (click)="orderBy('updated_at', $event)">Alterado Em</th>
            <th>Ações</th>
        </tr>

        <tr *ngFor="let phone of filteredPhones | paginate: { itemsPerPage: form.get('paginate').value, currentPage: p }">
            <td>{{phone.id}}</td>
            <td>{{getMaskedValue(phone.phone, "phone")}}</td>
            <td>R$ {{phone.monthly_price}}</td>
            <td>R$ {{phone.setup_price}}</td>
            <td>{{phone.currency}}</td>
            <td>{{phone.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{phone.updated_at | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>
              <div class="d-flex gap-1 justify-content-center">
                <div class="btn btn-outline-dark mr-1" title="Editar" (click)="router.navigate(['phones/form/'+phone.id+'/edit'])"><i class="fa fa-pen"></i></div>
                <div class="btn btn-outline-danger" title="Remover" (click)="deletePhone(phone.id)"><i class="fa fa-trash"></i></div>
              </div>
            </td>
        </tr>

      </table>

    </div>

    <pagination-controls [class.d-none]="this.filteredPhones.length == 0" (pageChange)="p = $event"></pagination-controls>

  </div>


</div>

<div *ngIf="isModalOpen" class="modal-overlay" (click)="handleResponse(false, $event)">
  <div class="modal-content">
    <p class="fs-4 fw-semibold">Deseja continuar?</p>
    <p class="fs-6 mb-5">Esta ação não pode ser revertida</p>

    <div class="d-flex">
      <button class="btn btn-outline-dark" (click)="handleResponse(false, $event)">não</button>
      <button class="btn btn-dark" (click)="handleResponse(true, $event)">Sim</button>
    </div>

  </div>
</div>
